In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import pandas as pd, numpy as np

In [3]:
data = pd.read_csv('data.csv')
data

     BHK   Rent Price   Bathroom   Bedroom
0      2      13500.0          1         2
1      1      15000.0          1         1
2      2      22000.0          1         2
3      2      16000.0          1         2
4      2      45000.0          1         3
..   ...          ...        ...       ...
148    1      16000.0          1         1
149    3      25000.0          2         3
150    2      16000.0          1         2
151    2      16000.0          1         2
152    3      27000.0          1         4

[153 rows x 4 columns]

In [4]:
data.dropna(inplace=True)
X = data[['BHK', 'Bedroom', 'Bathroom']]
y = data['Rent Price']

KeyError: ('BHK', 'Bedroom', 'Bathroom')

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
predictions = model.predict(X_test)


mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

print('Coefficients:', model.coef_)